<%- include('partials/header') %>

<% if(currentUser){ %>
    <h1>welcome <%= currentUser.name %> </h1>
<% }else{  %>
    <h1>welcome you need to login</h1>
    <%} %>
<h1>you are successfully logged in </h1>
<a href="/logout">google Logout</a>

<%- include('partials/footer') %>